.DS_Store
.bundle/
.zeus.sock
.tm_properties
custom_plan.rb
zeus.json
.rubocop.yml
.eprj
.gem/
.rdebug_hist/
.rdebug_hist
.rvmrc
.eslintrc.js
.sass-cache/
*.todo
*todo*.txt
*todo*.md
*.log
*.LOG
db/*.sqlite3
db/*.sqlite3-journal
log/
solr/data/*
tags
tmp/
vendor/cache/
/public/assets
/public/packs
/public/packs-test
/node_modules
/cypress/screenshots/

# Ignore byebug history
.byebug_history

# Ignore test output
/cypress/videos
/cypress/screenshots

# Ignore better_errors configuration
config/initializers/better_errors.rb

# Ignore rbuby environment settings
.rbenv-gemsets
# .ruby-version
.jrubyrc

# Ignore images that paperclip / dragonfly stored
public/attachments/**/*
public/system/dragonfly**/*

# Ignore security audit reports
security_audit_reports/

# Ignore vim files
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# Ignore NetBeans project files
nbproject/

# Ignore Jetbrains project files
*.iml
*.ipr
.idea/

# Ignore Redcar project files
.redcar/

# Ignore Microsoft Code files
.vscode/

# Ignore core dumps
core

# Ignore thumbnails created by windows
Thumbs.db

# Ignore files build by Visual Studio
#*.obj
#*.exe
#*.pdb
#*.user
#*.aps
#*.pch
#*.vspscc
#*_i.c
#*_p.c
#*.ncb
#*.suo
#*.tlb
#*.tlh
#*.bak
#*.cache
#*.ilk
#*.log
#[Bb]in
#[Dd]ebug*/
#*.lib
#*.sbr
#obj/
#[Rr]elease*/
#_ReSharper*/
#[Tt]est[Rr]esult*
/public/packs
/public/packs-test
/node_modules
